.bg-color{
    background-color: #3A84CD;
}
.first-navbar{
    height: 20px;
}
.text-color ul li a{
    color: white;
}
.secound-navbar ul li a{
    color:white;
}
.form-size{
    margin-left: 200px;
}
.btn-color{
    background-color: #285F97;
}
.form-size input{
    width: 500px;
    height: 40px;
    border-radius: 10px;
}

.third-navbar ul li a{
    color: white;
    border: 0.1px;
    border-style: inset;
    border-color: #318fec;
    
}
.third-navbar ul li a:hover{
    background-color: #285F97;
}
.whole-wrapper{
    background-color: #F3F3F3;
}
.cat{
    background-color: #F8D766;
    
}
.bg-cat{
    background: white;
}